@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;500;700&display=swap");

.triangle_top_left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 105vw 0 0;
  border-color: rgb(185, 3, 3) transparent transparent transparent;
}
